# Server
NODE_ENV=development
PORT=5555
VITE_PORT=5173
APP_URL=http://localhost:5555
HAS_CERTIFICATE=false

# Database
# DB_FILE is the path to SQLite file (relative to project root)
DB_FILE=database/dev.sqlite3

# Logging
# LOG_LEVEL options: trace, debug, info, warn, error, fatal
LOG_LEVEL=debug
# LOG_PRETTY=true   # force human-readable colored logs (even if NODE_ENV=production)

